@define-color shaded_card_bg_color shade(@card_bg_color, .95);

.terminal-box {
  background-color: #000;
}

/* Flat style for headerbar and nested-list. */
headerbar, .nested-list {
  background: none;
  box-shadow:none;
}

/* Use AdwActionRow style where they are not usable. */
.row-content {
  margin-bottom: 12px;
  margin-top: 12px;
}

/* Default margin in all directions. */
.marginalized
{
  margin: 12px;
}

.standalone-search
{
  margin-left: 12px;
  margin-right: 12px;
}

scrolledwindow.embedded undershoot.top {
  border: 1px @borders;
  border-style: solid none none none;
}

scrolledwindow.embedded undershoot.bottom {
  background: linear-gradient(to top, alpha(@shaded_card_bg_color, 1) 0px, alpha(@shaded_card_bg_color, 0) 18px);
}

scrolledwindow.separate-bottom undershoot.bottom {
  border: 1px @borders;
  border-style: none none solid none;
}

/* Margin around every boxed-list */
.boxed-list,
.terminal-box {
  margin-right: 12px;
  margin-left: 12px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* No margin around content and no roundedness when window is small. */
.small .boxed-list,
.small .boxed-list row,
.small entry,
.small .terminal-box
{
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Margin above and below Scrolled lists (unless window small) */
.bottom-spacing {
  margin-bottom: 6px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.small .bottom-spacing {
  margin-bottom: 0px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Margins for buttons at end of page */
.bottom-button {
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 6px;
}
